

body{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #fff;
    justify-content: center;
    text-align: center; 
    background: white url('../images/bg-winter.jpg') center center no-repeat;;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }


h1 {
    font-size: 5em;
    margin-bottom: 20px;
}

h2{
    font-size: 4rem;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

#myBack{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
    width: 95%;
    min-height: 200px;
    margin: 0 auto; 
}


#row-body{
    margin-top: 3em;
}



@media only screen and (max-width: 768px) {
    body{
        height: 100% !important;
    }
  #row-body{
        margin-top: 0em;
    }
    #sideStory p {
        padding: 0px !important;
    }

    #myBack img {
        margin: 20px !important;
    }

    #story-output{
        margin: 0 10px 30px 10px !important;
        padding: 30px !important;
    }
}

